/* .button-row {
    padding: 10px;
}

.button-form {
    background-color: #8D58CE;
    overflow: hidden;

}

.btn {
    border-radius: 0;
    float: right;
    background-color: #ab80e1;
    color: #fff;
    padding-left: 35px;
    padding-right: 15px;
}

.btn:hover {
    background-color: blue;
} */


.button-form {
    background-color: #1489B7;
    overflow: hidden;

}

.btn, .btn:after, .btn:before {
    transition: 0.12s;
}

.btn {
    display: inline-block;
    padding: 15px 35px 15px 15px;
    text-decoration: none;
    color: #fff;
    position: relative;
}

.btn > span {
    position: relative;
    z-index: 5;
}
.btn:after {
    content: '';
   /* background: #fff;
    */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5B9BAC;
    transform: skewX(-20deg);
}
.btn:before {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    bottom: 0;
    width: 17px;
    background-color: #5B9BAC;
    z-index: 8;
}
.btn:hover, .btn:focus {
    color: #fff;
}
.btn:hover:after, .btn:focus:after {
    background: #9c74ce;
}
.btn:hover:before, .btn:focus:before {
    background: #9c74ce;
}
