
<app-header></app-header>

<div class="container texteditor">
    <div class="row button-row">
      <div class="col-md-12 button-col">
        <form class="button-form">
          <a class="btn my-2 my-sm-0" type="submit" (click)="myClickFunction($event)">
            <span>Spara</span>
          </a>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <quill-editor 
          class="content-editor" 
          [placeholder]="'Insert text here...'" 
          [styles]="{'min-height': '220px'}" 
          (onEditorChanged)= "changedEditor($event)"
        >
        </quill-editor>
      </div>
    </div>
  </div>
  
  <div class="container outputeditor">
    <div class="row output-box">
      <div class="col-md-12">
        <p class="m-4" [innerHtml]= "editorText"></p>
      </div>
    </div>
  </div>
  