:root {
    --main-bg-color: #7678ED;
    --gradient-backup: #7678ED;
    --second-bg-color: #FDFFF7;
    --navbar-color: #E3F2FD;
    --save-button-field: #E3F2FD;
    --save-button-bg: #FF87AB;
}


.button-form {
    background-color: var(--save-button-field);
    overflow: hidden;
}


.btn {
    display: inline-block;
    padding: 15px 35px 15px 15px;
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
    background-color: var(--save-button-bg) !important;
    border-radius: 0 !important;
}

.btn:hover {
    filter: brightness(0.9);
}






/* You can add global styles to this file, and also import other style files */
a, a:hover, a:visited {
    color: inherit;
    text-decoration: none !important;
}

li {
    list-style-type: none;
}

.navbar {
    padding: 15px 100px;
    position: absolute;
    background-color: var(--navbar-color);
    color: #000;
}

.navbar-brand {
    color: #000 !important;
}

header {
    background: var(--main-bg-color);
    height: 400px;
    line-height: 400px;
    text-align: center;
    color: #fff;
}

.header-content {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.ql-toolbar {
    background-color: #FAFCFD;
}

.texteditor {
    margin-top: -100px;
    background-color: #fff;
    padding: 0 !important;
}

.outputeditor {
    margin-top: 100px;
    border: solid 1px rgb(204, 204, 204);    
    min-height: 400px;
    padding: 0;
}












